.quizInformation {
  padding: 0 !important;

  header {
      margin: 0;
      padding: 0;
      text-align: center !important;
      border-bottom: $wcfContentBorderInner solid 1px;

      img {
        max-width: 100%;

        @include screen-sm-down {
          max-height: 200px;
        }

        @include screen-md-down {
          max-height: 400px;
        }

        @include screen-lg {
          max-height: 600px;
        }
      }
    }

  article {
    padding: 1em;
    border-bottom: $wcfContentBorderInner solid 1px;
  }

  footer {
    display: flex;
    justify-content: space-between;

    div {
      padding: 1em;
      font-size: $wcfFontSizeSmall;
    }
  }
}

.quizPreview {
  header {
    border-bottom: $wcfContentBorderInner solid 1px;

    h3 {
      font-size: $wcfFontSizeHeadline;
    }
  }

  div {
    margin-top: 5px;
  }

  footer {
    margin-top: 5px;
    border-top: $wcfContentBorderInner solid 1px;
    font-size: $wcfFontSizeSmall;
  }
}


.quizGame {
  .dummy {
    visibility: hidden;
  }

  .gameField {
    .borderTop {
      border-top: $wcfContentBorderInner solid 1px;
    }

    .gameHeader {
      padding: 10px;
      display: grid;
      grid-template-columns: auto auto auto;

      :last-child {
        text-align: right;
      }

      :nth-child(2) {
        text-align: center;
      }

      .clock {
        .status0 {
          color: green;
        }

        .status1 {
          color: darkorange;
        }

        .status2 {
          color: darkred;
        }
      }
    }

    .gameContent {
      text-align: center;
      padding: 10px;

      .question {
        height: (3 * ($wcfFontSizeDefault + 4)) + 10px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .answerList {
        margin: 5px;

        li {
          padding: 2px;

          button {
            width: 80%;
          }
        }
      }

      .correct:disabled {
        opacity: 0.7;
        background: #009900 !important;
        color: #fff !important;
      }

      .wrong:disabled {
        opacity: 0.7;
        background: #990000 !important;
        color: #fff !important;
      }
    }

    .gameFooter {
      visibilty: hidden;
      text-align: center;
      margin-top: 10px;
      padding: 10px;
    }

    // result
    .result {
      text-align: center;

      .goal {
        border-bottom: $wcfContentBorderInner solid 1px;
        padding: 10px;

        .name {
          font-size: $wcfFontSizeHeadline;
        }
      }

      .score {
        padding: 10px;

        .player {
          font-weight: bold;
          font-size: 1.2em;
        }

        .others {
          margin: 0.5em;
          font-size: $wcfFontSizeSmall;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

.playerList {
  .place1 {
    color: gold;
  }

  .place2 {
    color: silver;
  }

  .place3 {
    color: #bf8970;
  }

  .tabularListRow {
    .columnUser {
      flex: 1 1 auto;
    }

    .columnStats {
      flex: 0 0 150px;
      text-align: center;
    }
  }
}

.questionList {
  .questionListTitle {
    font-size: $wcfFontSizeSection;
    color: $wcfTabularBoxHeadline;
    border-bottom: 1px solid $wcfTabularBoxHeadline;
    padding: 5px;
  }

  .correct {
    background-color: $wcfStatusSuccessBackground;
    color: $wcfStatusSuccessText;
    border-bottom: 1px solid $wcfStatusSuccessBorder;

    .icon {
      color: $wcfStatusSuccessText;
    }

    &:hover {
      background-color: darken($wcfStatusSuccessBackground, 5%);
    }
  }

  .wrong {
    background-color: $wcfStatusErrorBackground;
    color: $wcfStatusErrorText;
    border-bottom: 1px solid $wcfStatusErrorBorder;

    .icon {
      color: $wcfStatusErrorText;
    }

    &:hover {
      background-color: darken($wcfStatusErrorBackground, 5%);
    }
  }

  .question {
    padding: 10px;
    display: flex;
    align-items: center;

    div {
      padding: 5px 10px;
    }

    .questionIndicator {
      flex: 0 0 auto;
      font-size: $wcfFontSizeHeadline;
      text-align: center;

      &::after {
        content: ".";
      }
    }

    .questionText {
      font-size: $wcfFontSizeHeadline;
    }
  }
}

.playerStatistic {
  display: flex;
  justify-content: space-between;

  div {
    padding: 5px 10px;

    &::after, &::before {
      font-family: FontAwesome;
      font-size: $wcfFontSizeDefault;
      margin: auto 5px;
    }

    &:first-child {
      color: $wcfStatusSuccessText;

      &::after {
        content: "\f00c";
      }
    }

    &:nth-child(2) {
      &::before {
        content: "\f017";
      }
    }

    &:last-child {
      color: $wcfStatusErrorText;

      &::before {
        content: "\f00d";
      }
    }
  }
}