/* Variables for QuizCreator ui */
// other colors
$quizCorrectColor: $wcfStatusSuccessText !default;
$quizIncorrectColor: $wcfStatusErrorText !default;

/* quizList:start */
// display adjustments
@include screen-lg {
  .quizList {
    .quizInfo {
      opacity: 0;
      transition: opacity 500ms;
    }

    .quiz {
      width: calc(50% - 10px);
        &:hover .quizInfo {
          opacity: 1;
        }
      }
  }

  .quizContainer {
    .quiz {
      width: 80%;
    }
  }
}

@include screen-xl {
  .quizList {
    .quiz {
      width: calc(33% - 10px);
    }
  }

  .quizContainer {
    .quiz {
      width: 80%;
    }
  }
}

@include screen-md-down {
  .quizList {
    .quiz {
      width: calc(50% - 10px);
    }
  }

  .quizContainer {
    .quiz {
      width: 80%;
    }
  }
}

@include screen-sm-down {
  .quizList {
    .quiz {
      width: calc(100% - 10px);
    }

    .quizInfo {
      opacity: 1;
    }
  }

  .quizContainer {
    .quiz {
      width: 100%;
    }
  }
}

// tile colors
$quizTileBackgroundColor1:  $wcfHeaderMenuBackground !default;
$quizTileBackgroundColor2:  $wcfHeaderMenuLinkBackgroundActive !default;
$quizTileInfoBackgroundColor: #333 !default;
$quizTileShadowColor: #333 !default;
$quizTileShadowHoverColor: $wcfContentLink !default;
$quizTileInfoTextColor: $wcfHeaderMenuLink !default;
$quizTileIconColor: $wcfHeaderMenuLink !default;

// ui
.quizList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .quiz {
    margin: 5px;
    flex-direction: column;

    &[class~=isActive] {
      .quizBase {
        z-index: 0;
      }
      .quizBaseIcon::after {
        opacity: 1;
        content: "\f059";
      }
    }

    &[class~=notActive]
    {
      .quizBase {
        z-index: 20;
      }

      .quizBaseIcon::after {
        opacity: 0.6;
        content: "\f040";
      }
    }

    &:hover {
      .quizInfo {
        opacity: 1;
      }

      box-shadow: 2px 2px 2px transparentize($quizTileShadowHoverColor, 0.7);
    }
  }

  .quizInner {
    position: relative;
    width: 100%;
    padding-top: 75%;
    background-image: linear-gradient(to bottom right, $quizTileBackgroundColor1, $quizTileBackgroundColor2);
    border-radius: 5px;
    box-shadow: 2px 2px 2px transparentize($quizTileShadowColor, 0.7);
    transition: box-shadow 500ms;
  }

  .quizBase, .quizTitle, .quizImage, .quizInfo {
    position: absolute;
  }

  .quizBase, .quizImage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .quizBaseIcon::after {
    font-family: FontAwesome;
    font-size: 128px;
    color: $quizTileIconColor;
  }

  .quizBase {
    flex-direction: column;
  }

  .quizBaseInner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quizImage {
    z-index: 10;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
    }
  }

 .quizTitle, .quizInfo, .icon {
    color: $quizTileInfoTextColor;
  }

  .quizTitle, .quizInfo {
    z-index: 30;
    width: 100%;
    padding: 5px;
    background-color: transparentize($quizTileInfoBackgroundColor, 0.4);
  }

  .quizTitle {
    top: 0;
    left: 0;
    padding: 10px 5px;
    border-radius: 5px 5px 0 0;
    background-color: transparentize($quizTileInfoBackgroundColor, 0.4);

    h3 {
      @include wcfFontHeadline;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .quizInfo {
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;

    div:last-child {
      text-align:right;
    }
  }
}
/* quizList:end */

/* quiz:start */
// colors are inherited from tiles.
// ui
.quizContainer {
  display: flex;
  justify-content: space-around;

  .quiz {
    border-radius: 5px;
    border: 1px solid $wcfContentContainerBorder;
    background-color: $wcfContentContainerBackground;

    &[class~=notActive] {
      .headIcon::after {
        content: "\f040";
      }
    }

    &[class~=isActive] {
      .headIcon::after {
        content: "\f059";
      }
    }

    .icon {
      color: $quizTileIconColor;
    }

    .head {
      border-radius: 5px 5px 0 0;
      border: 0;
      background-image: linear-gradient(to bottom right, $quizTileBackgroundColor1, $quizTileBackgroundColor2);

      .headInner {
        width: 100%;
        padding-top: 75%;
        position: relative;
      }

      .headImageContainer, .headIconContainer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      .headIconContainer {
        z-index: 10;
        flex-direction: column;

        .headIconContainerInner {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .headIcon::after {
          font-family: FontAwesome;
          font-size: 128px;
          color: $quizTileIconColor;
          opacity: 0.5;
          transition: opacity 500ms;
        }
      }

      .headImageContainer {
        z-index: 20;
        img {
          border-radius: 5px 5px 0 0;
          margin-top: 0 !important;
          width: 100%;
        }
      }

      .headImageCaptionContainer {
        z-index: 50;
        position: absolute;
        width: 100%;
        bottom: 0;
        right:0;
        display: flex;
        justify-content: center;

        .imageCaption {
          max-width: 75%;
          padding: 10px;
          border-radius: 5px 5px 0 0;
          background-color: transparentize($quizTileInfoBackgroundColor, 0.4);
          @include wcfFontSmall;
          color: $quizTileInfoTextColor;
          opacity: 0.3;
          transition: opacity 500ms;
        }
      }

      .headTitleContainer {
        z-index: 50;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        background-color: transparentize($quizTileInfoBackgroundColor, 0.4);
        color: $quizTileInfoTextColor;

        h1 {
          @include wcfFontTitle;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .titleStats {
          @include wcfFontSmall;
          opacity: 0.3;
          transition: opacity 500ms;

          li {
            margin-right: 10px;
          }
        }
      }

      &:hover {
        .headIcon::after {
          opacity: 1;
        }

        .imageCaption {
          opacity: 1;
        }

        .titleStats {
          opacity: 1;
        }
      }
    }

    .description {
      padding: 20px;
      border-top: 1px solid $wcfContentContainerBorder;
      @extend .htmlContent;
    }

    .tags {
      padding: 20px;
    }

    // default game block in quiz overview
    .game {
      border-top: 1px solid $wcfContentContainerBorder;
      border-bottom: 1px solid $wcfContentContainerBorder;
      padding: 20px;
    }

    // status for game
    .statusLoading {
      text-align: center;

      p {
        margin-top: 10px;
        @include wcfFontSection;
      }
    }
  }
}
/* quiz:end */

/* gameField:start */
// animations
@keyframes time-indicator {
  0% { transform: rotateY(0deg); }
  25% { transform: rotateY(90deg); }
  50% { transform: rotateY(180deg); }
  75% { transform: rotateY(270deg); }
  100% { transform: rotateY(360deg); }
}

// color variables
$quizGameBorderColor: $quizTileBackgroundColor1 !default;
$quizGameButtonIncorrectBackgroundColor: $quizIncorrectColor !default;
$quizGameButtonCorrectBackgroundColor: $quizCorrectColor !default;
$quizGameButtonTextColor: #fff;
$timeState1Color: $wcfStatusSuccessText !default;
$timeState2Color: #FF9900 !default;
$timeState3Color: $wcfStatusErrorText;

// ui
.gameField {
  // field header
  .header {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    align-items: center;
    border-bottom: 2px solid $quizGameBorderColor;
    padding-bottom: 20px;
    opacity: 0;
    transition: opacity 1s;

    .correct.fa {
      color: $quizCorrectColor;
    }

    .incorrect.fa {
      color: $quizIncorrectColor;
    }

    // timer and animation for time.
    .stopwatch {
      text-align: center;
      transition: color 500ms;

      .top {
        @include wcfFontSmall;

        .fa {
          animation: time-indicator;
          animation-duration: 4s;
          animation-iteration-count: infinite;
        }
      }

      .paused .fa {
        animation-play-state: paused;
      }

      .s1 {
        color: $timeState1Color !important;
      }

      .s2 {
        color: $timeState2Color !important;
      }

      .s3 {
        color: $timeState3Color !important;
      }
    }

    // score
    .score {
      text-align: right;
    }
  }

  // main and show
  .main {
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 1s;

    .startView {
      align-items: center;
    }

    .intermissionView {
      align-items: center;
      text-align: center;
      @include wcfFontTitle;
    }

    .questionView {
      display: block;
      text-align: center;
      width: 90%;

      p.question {
        margin-bottom: 10px;
        @include wcfFontHeadline;
      }

      ul {
        margin: 20px 0;
        padding: 0;

        button {
          margin: 5px;
          width: 90%;
        }

        button.correct[disabled] {
          background-color: $quizGameButtonCorrectBackgroundColor !important;
          color: $quizGameButtonTextColor !important;
        }

        button.incorrect[disabled] {
          background-color: $quizGameButtonIncorrectBackgroundColor !important;
          color: $quizGameButtonTextColor !important;
        }
      }

      .next {
        opacity: 0;
        transition: opacity 500ms;
        p {
          margin-bottom: 10px;
          @include wcfFontDefault;
        }
      }
    }

    .resultView {
      display: block;
      text-align: center;
      width: 90%;

      .goalInfo {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid transparent;
        border-image: (linear-gradient(to right, transparent, $quizGameBorderColor, transparent)) 1 stretch;

        p {
          @include wcfFontTitle;

          &:last-child {
            margin-top: 5px;
            @include wcfFontSmall;
          }
        }
      }

      .scoreInfo {
        p {
          margin: 20px;

          &:first-child {
            @include wcfFontTitle;
          }

          &:nth-child(2) {
            @include wcfFontHeadline;
          }

          &:last-child {
            @include wcfFontSmall;
          }
        }
      }
    }
  }

  .show {
    opacity: 1;
  }
}
/* gameField:end */

/* UI PlayerList */
.playerList {
  .place1 {
    color: gold;
  }

  .place2 {
    color: silver;
  }

  .place3 {
    color: #bf8970;
  }

  .tabularListRow {
    .columnUser {
      flex: 1 1 auto;
    }

    .columnStats {
      flex: 0 0 150px;
      text-align: center;
    }
  }
}

/* UI Result Dialog */
.questionList {
  .questionListTitle {
    font-size: $wcfFontSizeSection;
    color: $wcfTabularBoxHeadline;
    border-bottom: 1px solid $wcfTabularBoxHeadline;
    padding: 5px;
  }

  .correct {
    background-color: $wcfStatusSuccessBackground;
    color: $wcfStatusSuccessText;
    border-bottom: 1px solid $wcfStatusSuccessBorder;

    .icon {
      color: $wcfStatusSuccessText;
    }

    &:hover {
      background-color: darken($wcfStatusSuccessBackground, 5%);
    }
  }

  .wrong {
    background-color: $wcfStatusErrorBackground;
    color: $wcfStatusErrorText;
    border-bottom: 1px solid $wcfStatusErrorBorder;

    .icon {
      color: $wcfStatusErrorText;
    }

    &:hover {
      background-color: darken($wcfStatusErrorBackground, 5%);
    }
  }

  .question {
    padding: 10px;
    display: flex;
    align-items: center;

    div {
      padding: 5px 10px;
    }

    .questionIndicator {
      flex: 0 0 auto;
      font-size: $wcfFontSizeHeadline;
      text-align: center;

      &::after {
        content: ".";
      }
    }

    .questionText {
      font-size: $wcfFontSizeHeadline;
    }
  }
}

.playerStatistic {
  display: flex;
  justify-content: space-between;

  div {
    padding: 5px 10px;

    &::after, &::before {
      font-family: FontAwesome;
      font-size: $wcfFontSizeDefault;
      margin: auto 5px;
    }

    &:first-child {
      color: $wcfStatusSuccessText;

      &::after {
        content: "\f00c";
      }
    }

    &:nth-child(2) {
      &::before {
        content: "\f017";
      }
    }

    &:last-child {
      color: $wcfStatusErrorText;

      &::before {
        content: "\f00d";
      }
    }
  }
}