/* block-start: QuizList */
// variables
$imageWidth: $wcf_option_media_small_thumbnail_width;
$imageHeight: $wcf_option_media_small_thumbnail_height;
$quizListBackgroundColor1: #3A6D9C !default;
$quizListBackgroundColor2: #24425F !default;
$quizListBackgroundColor3: #333 !default;
$quizListColor: #fff !default;

.quizList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .quiz {
    flex-direction: column;
    margin: 5px;

    &[class~=isActive] {
      .quizBase {
        z-index: 0;
      }
      .quizBaseIcon::after {
        opacity: 1;
        content: "\f059";
      }
    }

    &[class~=notActive]
    {
      .quizBase {
        z-index: 20;
      }

      .quizBaseIcon::after {
        opacity: 0.6;
        content: "\f040";
      }
    }

    &:hover {
      .quizInfo {
        opacity: 1;
      }

      box-shadow: 2px 2px 4px transparentize($wcfSidebarLink, 0.4);
    }
  }

  .quizInner {
    position: relative;
    width: #{$imageWidth}px;
    padding-top: #{$imageHeight}px;
    background-image: linear-gradient(to bottom right, $quizListBackgroundColor1, $quizListBackgroundColor2);
    border-radius: 5px;
    box-shadow: 2px 2px 2px transparentize(#000, 0.4);
    transition: box-shadow 1s;
  }

  .quizBase, .quizTitle, .quizImage, .quizInfo {
    position: absolute;
  }

  .quizBase, .quizImage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .quizBaseIcon::after {
    --quizWidth: #{$imageWidth}px;
    font-family: FontAwesome;
    font-size: calc(var(--quizWidth) / 2);
    color: $quizListColor;
  }

  .quizBase {
    flex-direction: column;
  }

  .quizBaseInner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quizImage {
    z-index: 10;
    text-align: center;

    img {
      border-radius: 5px;
    }
  }

  .icon, .quizTitle, .quizInfo {
    color: $quizListColor;
  }

  .quizTitle, .quizInfo {
    z-index: 30;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: transparentize($quizListBackgroundColor3, 0.4);
  }

  .quizTitle {
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 5px 5px 0;
    background-color: transparentize($quizListBackgroundColor3, 0.4);

    h3 {
      font-size: $wcfFontSizeHeadline;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .quizInfo {
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    transition: opacity 1s;

    div:last-child {
      text-align:right;
    }
  }
}
/* block-end: QuizList */

/* block-start: PlayerList */
.playerList {
  .place1 {
    color: gold;
  }

  .place2 {
    color: silver;
  }

  .place3 {
    color: #bf8970;
  }

  .tabularListRow {
    .columnUser {
      flex: 1 1 auto;
    }

    .columnStats {
      flex: 0 0 150px;
      text-align: center;
    }
  }
}
/* block-end: PlayerList */

/* block-start: GameResult(Dialog) */
.questionList {
  .questionListTitle {
    font-size: $wcfFontSizeSection;
    color: $wcfTabularBoxHeadline;
    border-bottom: 1px solid $wcfTabularBoxHeadline;
    padding: 5px;
  }

  .correct {
    background-color: $wcfStatusSuccessBackground;
    color: $wcfStatusSuccessText;
    border-bottom: 1px solid $wcfStatusSuccessBorder;

    .icon {
      color: $wcfStatusSuccessText;
    }

    &:hover {
      background-color: darken($wcfStatusSuccessBackground, 5%);
    }
  }

  .wrong {
    background-color: $wcfStatusErrorBackground;
    color: $wcfStatusErrorText;
    border-bottom: 1px solid $wcfStatusErrorBorder;

    .icon {
      color: $wcfStatusErrorText;
    }

    &:hover {
      background-color: darken($wcfStatusErrorBackground, 5%);
    }
  }

  .question {
    padding: 10px;
    display: flex;
    align-items: center;

    div {
      padding: 5px 10px;
    }

    .questionIndicator {
      flex: 0 0 auto;
      font-size: $wcfFontSizeHeadline;
      text-align: center;

      &::after {
        content: ".";
      }
    }

    .questionText {
      font-size: $wcfFontSizeHeadline;
    }
  }
}

.playerStatistic {
  display: flex;
  justify-content: space-between;

  div {
    padding: 5px 10px;

    &::after, &::before {
      font-family: FontAwesome;
      font-size: $wcfFontSizeDefault;
      margin: auto 5px;
    }

    &:first-child {
      color: $wcfStatusSuccessText;

      &::after {
        content: "\f00c";
      }
    }

    &:nth-child(2) {
      &::before {
        content: "\f017";
      }
    }

    &:last-child {
      color: $wcfStatusErrorText;

      &::before {
        content: "\f00d";
      }
    }
  }
}
/* block-end: GameResult(Dialog) */