.quiz {
  padding: 0 !important;

  .information {
    .image {
      margin: 0;
      padding: 0;
      text-align: center;
      img {
        max-width: 100%;

        @include screen-sm-down {
          max-height: 200px;
        }

        @include screen-md-down {
          max-height: 450px;
        }

        @include screen-lg {
          max-height: 700px;
        }
      }
    }

    .description {
      padding: 0.5em;
    }
  }

  .dummy {
    visibility: hidden;
  }

  .game {
    //display: table-cell;
    //vertical-align: middle;
    border-top: $wcfContentBorderInner solid 2px;

    .borderTop {
      border-top: $wcfContentBorderInner solid 1px;
    }

    .gameHeader {
      padding: 1em;
      display: grid;
      grid-template-columns: auto auto auto;

      :last-child {
        text-align: right;
      }

      :nth-child(2) {
        text-align: center;
      }

      .clock {
        .status0 {
          color: green;
        }

        .status1 {
          color: darkorange;
        }

        .status2 {
          color: darkred;
        }
      }
    }

    .gameContent {
      text-align: center;
      padding: 1em;

      .question {
        height: 1.2em;
        font-weight: bold;
      }

      .answerList {
        margin: 0.5em;

        li {
          padding: 0.2em;

          button {
            width: 80%;
          }
        }
      }

      .correct:disabled {
        opacity: 0.7;
        background: #009900 !important;
        color: #fff !important;
      }

      .wrong:disabled {
        opacity: 0.7;
        background: #990000 !important;
        color: #fff !important;
      }
    }

    .gameFooter {
      visibilty: hidden;
      text-align: center;
      margin-top: 1em;
      padding: 1em;
    }
  }
}